body{
    background: url('../img/navy_blue/navy_blue.png');
}

.sticky-container {
    float:left;
}
div {
    padding: 5px;
}
button {
    /*border-top: 1px solid #96d1f8;*/
    background: #666;
    /*background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));*/
    /*background: -webkit-linear-gradient(top, #3e779d, #65a9d7);*/
    /*background: -moz-linear-gradient(top, #3e779d, #65a9d7);*/
    /*background: -ms-linear-gradient(top, #3e779d, #65a9d7);*/
    /*background: -o-linear-gradient(top, #3e779d, #65a9d7);*/
    padding: 5px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 1em;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
}
button:hover {
    /*border-top-color: #28597a;*/
    background: #28597a;
    color: #ccc;
}
button:active {
    /*border-top-color: #1b435e;*/
    background: #1b435e;
}

textarea {
	/*width: 600px;*/
	/*height: 120px;*/
    -webkit-box-shadow: rgba(0,0,0,1) 0 3px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 3px 0;
    box-shadow: rgba(0,0,0,1) 0 3px 0;
	border: 3px solid #cccccc;
	padding: 5px;
    color: #333;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
	font-family: Tahoma, sans-serif;
	background-image: url('../img/cardboard_flat/cardboard_flat.png');
	background-position: top right;
}
